@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.fnc-cuisine-header {
    text-align: center;
    margin-top: 20px !important;
  }
  
  .fnc-cuisine-header h1 {
    margin: 0;
    font-size: 32px;
    /* line-height: 60px; */
  
    font-family: Bebas Neue !important;
    letter-spacing: 0.2em;
    font-weight: 400;
    /* margin-top: 20px; */
  
  }

   /* Create a container for the thumbnails */
   .fnc-cuisine-thumbnail-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin-top: 30px;

  }

  /* Individual fnc-cuisine-thumbnail style */
  .fnc-cuisine-thumbnail {
    text-align: center;
    margin: 10px; /* Optional: Add some spacing between fnc-cuisine-thumbnails */
    
  }

   /* Apply zoom-in effect on image hover */
   .fnc-cuisine-thumbnail-image-container:hover .fnc-cuisine-thumbnail-image {
    transform: scale(1.2); /* Increase scale on hover (zoom in) */
  }

   /* Style the image container */
   .fnc-cuisine-thumbnail-image-container {
    border-radius: 50%;
    overflow: hidden;
    width: 310px; /* Adjust the width and height as needed */
    height: 310px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: Add a box shadow */
    
  }
  
  /* Style the image as a round fnc-cuisine-thumbnail */
  .fnc-cuisine-thumbnail-image {
    border-radius: 50%;
    width: 310px; /* Adjust the width and height as needed */
    height: 310px;
    object-fit: cover; /* This maintains the aspect ratio of the image */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;

  }
  
  /* Style the title */
  .fnc-cuisine-thumbnail-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }

   /* Media query for responsive design */
   @media only screen and (max-width: 768px) {
    .fnc-cuisine-thumbnail-container {
      flex-wrap: wrap; 
      justify-content: center; 
    }
  }