@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

.fnc-cuisine-result-resulth2 {

    position: relative;
    z-index: 1;

    color: #000;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.4px;
}

.fnc-cuisine-result-resultp {
    position: relative;
    z-index: 1;
    margin: 20px 15px;

    color: #000;
    text-align: justify;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section {
    padding: 40px 0;
}

.fnc-cuisine-result-text {
    background: #fff;
    position: relative;
    /* width: 100%; */
}

.fnc-cuisine-result-text::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 99%;
    height: 110%;
    background: #ffffff;
    rotate: -3deg;
    translate: -50% -50%;
}

.fnc-cuisine-result-image0 {
    height: 480px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../images/FCbanner.png');
    margin-top: -16px;
}

.fnc-cuisine-result-image1 {
    height: 480px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../images/FCbanner.png');
}

.fnc-cuisine-result-image2 {
    height: 480px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../images/FCbanner.png');
}

.fnc-cuisine-result-image3 {
    height: 480px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../images/FCbanner.png');
}

.fnc-cuisine-result-image4 {
    height: 480px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../images/FCbanner.png');
}

.fnc-cuisine-result-image5 {
    height: 480px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../images/FCbanner.png');
}

.fnc-cuisine-result-image6 {
    height: 480px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../images/FCbanner.png');
}

.fnc-cuisine-result-image7 {
    height: 480px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../images/FCbanner.png');
}